#menu {
    background-color: lightpink;
}

#header {
    background-color: lightsalmon;
}

.article {
    background-color: lightseagreen;
}

#content {
    background-color: lightskyblue;
}

#footer {
    background-color: linen;
}